:root {
  --black-color: #000;
  --white-color: #fff;
  --light-blue-color: #6f98a8;
  --dark-blue-color: #2b8ead;
  --dark-grey-color: #2f454e;
  --light-grey-color: #bfbfbf;
  --light-grey2-color: #efefef;
  --light-blue2-color: #72c3dc;
  --padding-all-side-0dot625rem: 0.625rem;
}
html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  border: solid 0.625rem var(--black-color);
  min-height: 100vh;
}

.app-title {
  background: #333333;
  padding: var(--padding-all-side-0dot625rem);
  text-align: center;
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: normal;
}

.content-main {
  display: flex;
  flex-direction: column;
  background: var(--white-color);
  padding: var(--padding-all-side-0dot625rem);
}

.btn-group {
  text-align: center;
}

.btn {
  padding: 0.938rem 0.75rem;
  border-radius: 0.625rem;
  border: 0.063rem solid transparent;
  color: var(--white-color);
  text-align: center;
  font-size: 0.8rem;
}
.btn:focus {
  outline: 0.063rem solid transparent;
  outline-offset: -0.25rem;
}

.btn:active {
  transform: scale(0.99);
}

.btn_primary {
  background: var(--light-blue2-color);
  border-color: var(--light-blue2-color);
  cursor: pointer;
  box-shadow: 0px 0.313rem var(--dark-blue-color);
}

.btn_primary:hover,
.btn_primary :focus {
  opacity: 0.7;
}

.number-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0.938rem;
}
.number-list .number-list__item {
  padding: var(--padding-all-side-0dot625rem);
  background: var(--light-grey2-color);
  margin: 0.125rem 0;
  transition: all 0.5s ease-out;
}

.number-list .number-list__item:nth-child(1),
.number-list .number-list__item:nth-child(8) {
  border-left: solid 0.438rem var(--light-blue-color);
  background: linear-gradient(to right, #6f98a8 50%, #efefef 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.number-list .number-list__item:nth-child(2),
.number-list .number-list__item:nth-child(4) {
  border-left: solid 0.438rem var(--dark-blue-color);
  background: linear-gradient(to right, #2b8ead 50%, #efefef 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.number-list .number-list__item:nth-child(3),
.number-list .number-list__item:nth-child(5),
.number-list .number-list__item:nth-child(9) {
  border-left: solid 0.438rem var(--dark-grey-color);
  background: linear-gradient(to right, #2f454e 50%, #efefef 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.number-list .number-list__item:nth-child(6),
.number-list .number-list__item:nth-child(7) {
  border-left: solid 0.438rem var(--light-grey-color);
  background: linear-gradient(to right, #bfbfbf 50%, #efefef 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.number-list_active .number-list__item:active,
.number-list_active .number-list__item:hover {
  background-position: left bottom;
  color: var(--white-color);
}

.footer {
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 60rem) {
  .app-container {
    border: none;
    background: var(--light-grey2-color);
  }
  .app-title {
    background: var(--white-color);
    color: var(--black-color);
    border-bottom: 0.188rem solid var(--light-grey-color);
    font-size: 1.2rem;
  }
  .content-main {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    background: none;
  }

  .number-list {
    flex-flow: row wrap;
    flex: 3;
    padding: 0;
  }
  .btn-group {
    flex: 1;
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-direction: column;
  }

  .btn_primary {
    margin: 0.75rem 0;
  }

  .number-list.number-list_not-mobile .number-list__item {
    border: none;
    flex: 0 1 33%;
    margin: 0;
    text-align: center;
    padding: 2.5rem;
    font-size: 6rem;
    color: var(--white-color);
  }

  .number-list .number-list__item:nth-child(1),
  .number-list .number-list__item:nth-child(8) {
    background: var(--light-blue-color);
  }

  .number-list .number-list__item:nth-child(2),
  .number-list .number-list__item:nth-child(4) {
    background: var(--dark-blue-color);
  }

  .number-list .number-list__item:nth-child(3),
  .number-list .number-list__item:nth-child(5),
  .number-list .number-list__item:nth-child(9) {
    background: var(--dark-grey-color);
  }

  .number-list .number-list__item:nth-child(6),
  .number-list .number-list__item:nth-child(7) {
    background: var(--light-grey-color);
  }

  .number-list_active .number-list__item:active,
  .number-list_active .number-list__item:hover {
    opacity: 0.8;
  }

  .footer {
    padding: var(--padding-all-side-0dot625rem);
  }
}
